<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>T21 Editor Settings</comment>
<entry key="userPlugins">C:\Documents and Settings\Jon\My Documents\SimCity 4\Plugins</entry>
<entry key="currentDir">C:\Documents and Settings\Jon\My Documents\SimCity 4</entry>
<entry key="appDir">C:\Program Files\Maxis\SimCity 4</entry>
</properties>
